body {
    background-image: url("../Assets/bgtexture.jpg");
}
.homeImg1 {
    background-image: url("../Assets/homeHero.jpg");
    height: 600px;
}
.homeTextBG {
    background-color: white;
    width: 950;
    height: 265;
}
.bottomHomeImg {
    width: 950px;
    height: 185px;
}